{% extends "layout.html.twig" %}
{% block title %} Registro {% endblock %}
{% block stylesheets %} {{ parent() }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> {% endblock %}
{% block main_content %}
    <div class="mt-4">
        <form action="{{ path('futapp_register') }}" method="post">
            <legend>Registrase en FutAPP</legend>

            {% if app.flashes('error_registro') is not empty %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error</strong>
                    {% for message in app.flashes('aviso') %}
                        <div class="avisos-flash">
                            {{ message }}
                        </div>
                    {% endfor %}


                </div>
            {% endif %}

            <div class="row mb-4">
                <div class="col-6">
                    <label class="mt-4 mb-2">Nombre</label>
                    <input name="nombre" placeholder="Nombre..." class="form-control" required/>
                </div>
                <div class="col-6">
                    <label class="mt-4 mb-2">Apellidos</label>
                    <input type="text" name="apellidos" placeholder="Apellidos.." class="form-control" required/>

                </div>
            </div>

            <div class="row mb-4">
                <div class="col-6">
                    <label class="mb-2">Email</label>
                    <input type="email" name="email" placeholder="example@gmail.com" class="form-control" required/>
                </div>
                <div class="col-6">
                    <label class="mb-2">Teléfono</label>
                    <input type="text" name="telefono" placeholder="65541234" class="form-control"/>
                </div>

            </div>

            <div class="row mb-4">
                <div class="col-6">
                    <label class="mb-2">Contraseña</label>
                    <input type="password" name="password" class="form-control" minlength="5" required/>
                </div>
                <div class="col-6">
                    <label class="mb-2">Vuelve a repetir la contraseña</label>
                    <input type="password" name="password2" class="form-control" minlength="5" required/>
                </div>

            </div>


            <label class="mb-2">Foto de Perfil (JPG o PNG)</label>
            <input type="file" class="form-control mb-4" id="inputGroupFile02">


            <div class="g-recaptcha" data-sitekey="6Lf94UsaAAAAAAlZH5v-pwkRO6TZvfpEmLtNzgAC"></div>
            <button type="submit" class="mt-3 btn btn-md btn-primary">Enviar</button>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

