{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} Partidos {% endblock %}

{% block main_content %}
    <div class="card-columns mt-4">
        <div class="row">
            {% for partido in partidos %}

                <div class="col-4 mb-4">
                    {% include 'fut_app/parts/partido.part.html.twig' with {
                        'partido':partido
                    } only%}
                </div>
            {% endfor %}
        </div>


    </div>




    <p>{{ app.request.basePath }}</p>
{% endblock %}
