{% extends 'layout.html.twig' %}

{% block title %} {{ parent() }} Equipos{% endblock %}

{% block main_content %}
    <div class="card-columns mt-4 mb-4">
        <div class="row">
            {% for equipo in equipos %}
                <div class="col-4 mb-4">
                    {% include 'equipo/part/equipo.part.html.twig' with {
                        'equipo':equipo
                    } only %}
                </div>

            {% endfor %}
        </div>

    </div>


{% endblock %}
