<a style="text-decoration: none;" href="{{ path('fut_app_chat', {id: usuario.id}) }}">
    <div class="active mb-2 card">
        <div class="d-flex bd-highlight">

            <div class="img_cont">
                <img src="{% if usuario.foto is empty %}/imgs/avatar.jpg{% else %}{{ asset('uploads/fotos/' ~ usuario.foto) }}{% endif %}"
                     class="rounded-circle" style="height: 90px">
                <span class="online_icon"></span>
            </div>
            <div class="row align-items-center">
                <div class="col">
                                <span style="margin-left: 10px; font-size: 20px"
                                      class="card-title">{{ usuario.nombre ~ ' ' ~ usuario.apellidos }}</span>

                </div>

            </div>
        </div>
    </div>
</a>


