{% extends 'layout.html.twig' %}

{% block title %}{{ parent()  }} Error 404{% endblock %}

{% block main_content %}


    <div class="alert alert-danger" role="alert">
        <strong>Error {{ status_code }} </strong>No se ha encontrado la página
    </div>
{% endblock %}
