{% extends "layout.html.twig" %}

{% block title %} {{ parent() ~ 'Mis Mensajes' }} {% endblock %}
{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block main_content %}

    <div class="mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="true">Recibidos</a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="false">Enviados</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card-columns mt-4">
                    <div class="row">
                        {% if usuariosenviados | length > 0 %}
                            <div class="col-md-12 col-xl-12 chat">
                                <div class="card mb-sm-3 mb-md-0 contacts_card">
                                    <div class="card-header">
                                        <div class="input-group">
                                            <input type="text" placeholder="Search..." name=""
                                                   class="form-control search">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text search_btn" style="height: 60px"><i
                                                        class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body contacts_body">
                                        <div class="contacts">
                                            {% for usuario in usuariosenviados %}

                                                {% include 'mensajes/parts/bandeja.part.html.twig' with {
                                                    'usuario':usuario
                                                } only %}

                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="tab-pane fade active show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="card-columns mt-4">
                    <div class="row">
                        {% if usuariosrecibidos | length > 0 %}
                            <div class="col-md-12 col-xl-12 chat">
                                <div class="card mb-sm-3 mb-md-0 contacts_card">
                                    <div class="card-header">
                                        <div class="input-group">
                                            <input type="text" placeholder="Search..." name=""
                                                   class="form-control search">
                                            <div class="input-group-prepend">
                                            <span class="input-group-text search_btn" style="height: 60px"><i
                                                        class="fa fa-search"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body contacts_body">
                                        <div class="contacts">
                                            {% for usuario in usuariosrecibidos %}

                                                {% include 'mensajes/parts/bandeja.part.html.twig' with {
                                                    'usuario':usuario
                                                } only %}

                                            {% endfor %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
