{% extends "layout.html.twig" %}

{% block title %} {{ parent() ~ 'Mis Mensajes' }} {% endblock %}
{% block stylesheets %}

    {{ parent() }}

{% endblock %}

{% block main_content %}

    <div class="mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                   aria-controls="contact" aria-selected="true">Recibidos</a>
            </li>
            <li class="nav-item waves-effect waves-light">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="false">Enviados</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="card-columns mt-4">
                    <div class="row">
                        {% for mensaje in mensajesrecibidos %}

                            {% include 'mensajes/parts/bandeja.part.html.twig' with {
                                'usuario':mensaje.receptor
                            } only %}

                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade active show" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="card-columns mt-4">
                    <div class="row">
                        {% for mensaje in mensajesrecibidos %}

                            {% include 'mensajes/parts/bandeja.part.html.twig' with {
                                'usuario':mensaje.emisor
                            } only %}

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
